<launch>
  <arg name="gazebo_sim" default="False" />

  <group if="$(eval gazebo_sim)">
    <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_ros)/worlds/empty_world.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the URDF into tshe ROS Parameter Server -->
  <param name="robot_description"	 command="$(find xacro)/xacro.py $(find gp8_simulation)/urdf/gp8_gazebo.xacro" />
  
  
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
  		args="-urdf -model motoman_gp8 -param robot_description"/>

  <!-- ros_control motoman launch file -->
  <include file="$(find gp8_simulation)/launch/gp8_control.launch"/>

    <include file="$(find gp8_moveit_pkg)/launch/gp8_connection.launch">
      <arg name="gazebo_sim" value="True" />
    </include>
  </group>

  <group if="$(eval not gazebo_sim)">
    <!-- <arg name="config" default="true" /> -->
    <!-- <arg name="robot_ip" default="192.168.255.3" />
    <arg name="controller" default="yrc1000" /> -->
  

    <!-- run the robot simulator and action interface nodes -->
    <include file="$(find gp8_moveit_pkg)/launch/gp8_connection.launch" >
      <!-- <arg name="robot_ip" value="$(arg robot_ip)"/>
      <arg name="controller" value="$(arg controller)"/> -->
      <arg name="gazebo_sim" value="False" />
    </include>
     
  </group>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find gp8_control)/launch/rviz.rviz" />  
</launch>